<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.testapp"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Test FirstAPP</name>

    <description>
        My First PhoneGAP App!
    </description>

    <author href="https://github.com/agustim/" email="agusti@biruji.org">
        Agustí Moll 
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />

</widget>